# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

##### Analyzers #####
# The Google Perspective API analyzer requires a Google API key with access to the Perspective API
PERSPECTIVE_KEY=

##### Notifiers #####
# The Sendgrid email notifier requires an API key, an email to send notifications from, and an email
# to send notifications to
FROM_EMAIL=
NOTIFICATION_EMAIL=
SENDGRID_KEY=
